html,
body {
    height: 100%;
}

.copy-option input, .copy-option a {
    margin-top: 10px;
}

form > .copy-option .delete {
    display: none;
}

form > .copy-option ~ .copy-option .delete {
    display: inline-block;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.tab-pane {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0 0 4px 4px;
  border-color: #ddd;
  border-top-width: 0;
  padding: 15px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.input-multifield-group .input-group {
  margin-bottom: 5px;
}

.input-multifield-group .input-group:last-child {
  margin-bottom: 0;
}

.image-upload {
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  line-height: 0;
  padding: 5px 0 0 5px;
}

.image-upload .img {
  display: inline-block;
  position: relative;
  height: 150px;
  padding: 6px;
  margin: 0 5px 5px 0;
}

.image-upload .img img {
  height: 136px;
  border-radius: 4px;
}

.image-upload .img:hover img {
  opacity: .1;
}

.image-upload .img:hover:after {
  position: absolute;
  content: 'Удалить изображение';
  font-size: 14px;
  line-height: 150px;
  text-align: center;
  border-radius: 4px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.preview-header {
    padding-bottom: 20px;
    padding-top: 10px;
}

.link-preview {
    margin-right: 10px;
}


.image-upload label {
  display: inline-block;
  width: 150px;
  height: 150px;
  line-height: 138px;
  margin: 0 5px 5px 0;
  cursor: pointer;
}

.image-upload label:hover {
  background: #ddd;
}

#map-select-map
{
  padding: 0;
  width: 100%;
  height: 400px;
}